<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sex Trafficking in the US</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel = "stylesheet" href="style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#container1">WHO</a></li>
        <li><a href="#container2">WHAT</a></li>
        <li><a href="#container3">WHERE</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<a id="container1">
<div class="container-fluid bg-3 text-center">
  <section class='hero-header-text'> 
    <h1>Project Title</h1>  
    <img src="../Images\Web-Banner-Human-Trafficking-1280x560.jpg" style="display:inline" width=1500px height=600px>
    <h5>Project by Sofia Sotillo, Kelsey Wyatt, Chika Ozodiegwu, & Katherine Manning </h5></section>
</div>
</a>
<!-- Second Container -->
<a id = "container2">
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Our Project information/presentation</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
</div></a>

<!-- Third Container (Grid) -->
<a id = "container3">
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Our Plots</h3><br>
  <div class="row">
    <img src="../Images/maxresdefault.jpg" class="img-responsive margin" style="width:50%" alt="Image">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="../Images/maxresdefault.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="../Images\stacked-bar-example-1.png" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div style="text-align: top-right"><img src="..\Images\image (1).png" width=10% />  </div>
      <!-- <img src="..\Images\image (1).png" class="img-responsive margin" style="width:50%" alt="Image"> -->
    </div>
  </div>
</div>
</a>

<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>
</body>
</html>
