body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  /* .margin {margin-bottom: 45px;} */
  .bg-1 { 
    background-color: #1f7e76; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 50px;
    padding-bottom: 40px;
   
  }
  .container-fluid2 {
    padding-top: 50px;
    padding-bottom: 40px;
    background-image:"../Images/Web-Banner-Human-Trafficking-1280x560.jpg";
    opacity: 0.5
  }

  .container2 {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .content {
    padding: 16px;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

    

  