<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Assault/Trafficking</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Sexual Assault/Trafficking US Test Page</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
          <h5>Gender:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="app.js"></script>
  <!-- <script src="bonus.js"></script> -->
  <!-- <script src="data/assault_us_array.json"></script> -->
  
</body>

</html>
